
header.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%; 
    width:100%;
    padding:0.3rem 4rem;
    background-color:transparent; 
    position:absolute; 
    top:0;
    left:0;
    right:0;
}

.logoContainer{
    display:inline-block;
    width:70px;
    height:50px;  
    overflow:hidden;
}

.logoContainer img{
    width:100%;
    height:100%;
    object-fit:fill;
    object-position: center;
}

.navigation{
    display:flex;
    gap:1rem ;
    justify-content:space-between;
    align-items:center;
    background-color:transparent;

}


.navigation .navItem{
    display: block;
    margin:0 0.5rem;
    padding-bottom:0.5rem;
    border-bottom:2px solid transparent;
    transition: border-bottom 0.25s;
}


.navigation .navItem:hover{
    border-bottom:2px solid #0A66C2;
    transition: border-bottom 0.25s;
}

.navigation .closeMenuIcon{
    display:none;
}

.hamburgerBtn{
    display:none;
}
.closeMenuBtn{
    display:none;
}

@media(max-width:860px){
    header.header{
        display:flex;  
        padding:0.3rem 1.5rem; 
        background:var(--gray-bg2)
    }
    .navigation .navItem{
        display: block;
        margin:0 0.5rem;
        padding-bottom:0.5rem;
        border-bottom:2px solid transparent;
        transition: border-bottom 0.25s;
        color:#444;
    }
    
}

@media(max-width:600px) {
    header.header{
        display:flex;  
        padding:0.3rem 1.5rem; 
        background:var(--gray-bg2);
        z-index:80; 
    }
    .navigation{
        display:none;
        flex-direction:column;
        position:absolute;
        top:0;
        left:0;
        right:0;
        color:#fff;
        gap:1rem ;
        justify-content:center;
        align-items:center;
        background-color: rgba(0, 0, 0, 0.9); 
        height:fit-content;
        min-height:250px;
        width:100%; 
        z-index:100;
        border-radius:0 0 10px 10px;
        padding:1rem;
    }
    .navigation .closeMenuBtn{
        display:block; 
        position:absolute;
        top:0.5rem;
        right:0.5rem;
        padding:0.2rem; 
        background:transparent;
    }
    .navigation.open{
        display:flex;
        
    }
    .navigation .navItem{
        display: block;
        margin:0 0.5rem; 
        color:#f4f4f4;
    } 
    .hamburgerBtn{
        display:flex;
        cursor:pointer;
        padding: 0.2rem;
        background:transparent;
        border:none;
        outline:none;
    }
    .hamburgerIcon,
     .navigation .closeMenuIcon{
        width:32px;
        height:32px;
         
    }
    .overlay{
        display:block;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(0, 0, 0, 0.3);
        z-index:85;
    }
}