@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  --light-bg:rgba(255, 255, 255, 1);
  --dark-bg:rgba(24, 26, 42, 1); 
  --gray-bg2:rgba(232, 232, 234, 1);
  --gray-text2:rgba(105, 106, 117, 1); 
  --gray-text: rgba(151, 152, 159, 1);

}

a {
  font-weight: 500;
  text-decoration: inherit;
  color:var(--gray-text)
}
/* a:hover {
  color: #0A66C2;
} */

body {  
  width: 100%;
  min-height: 100vh; 
  background:var(--gray-bg2);
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  color:#222;
}
h2 {
  font-size:24px;
  line-height:1;
  color:#333;
}

h3 {
  font-size: 20px;
  line-height: 1.1;
  color:#444;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
   
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
 
img{
  width:100%;
}

.smallIcon{
  width:17px;
  height:17px;
}